.App {
  text-align: center;
  background-color: darkolivegreen;
}

h1 {
  color: bisque;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  text-align: center;
}

h2 {
  color:bisque;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background: brown;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}


.card {
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 50px;
}

.card-body {
  margin-left: 30px;
}

.card-text ,.card-title{
  color:black;
}
